<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>I am a 3D squirrel at <a title="Side Effects Software" href="http://sidefx.com">Side Effects Software</a>. Ukrainian living in Toronto. Friend of squirrels, C++, OpenGL, rock climbing and computer graphics.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
